In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from scipy.stats import ttest_1samp
import numpy as np

import warnings
warnings.filterwarnings('ignore')
warnings.warn('DelftStack')
warnings.warn('Do not show this message')

In [7]:
df = pd.read_excel('AB.xlsx')

In [ ]:
df

      USER_ID VARIANT_NAME  REVENUE
0         737      variant      0.0
1        2423      control      0.0
2        9411      control      0.0
3        7311      control      0.0
4        6174      variant      0.0
...       ...          ...      ...
9995     1981      control      0.0
9996      502      variant      0.0
9997     9214      variant      0.0
9998     7741      control      0.0
9999     9468      control      0.0

[10000 rows x 3 columns]

In [8]:
df.VARIANT_NAME.value_counts()

variant    5016
control    4984
Name: VARIANT_NAME, dtype: int64

ВЫБОРКИ ОДИНАКОВЫ.

In [9]:
v = df.\
    groupby('USER_ID', as_index=False).\
    agg({'VARIANT_NAME': pd.Series.nunique})

In [ ]:
v.head(10)

   USER_ID  VARIANT_NAME
0        2             1
1        3             2
2        4             1
3        5             1
4        6             1
5        9             1
6       10             2
7       11             1
8       12             1
9       13             1

ЕСТЬ ЮЗЕРЫ СО СТРОКАМИ В ДВУХ ГРУППАХ.

In [11]:
more_than_one_types = variants.query('VARIANT_NAME > 1')

NameError: ignored